{% extends 'base.html' %}


{% block content %}


<br/><br/>
{% if zipcode %}
	{{ zipcode }}
{% endif %}


<!-- this code section contains some bootstrap presentation stuff with some if statements to put up content and handle errors -->

{% if api %}
	{% if api == "Error." %}
		There was an error, try again
	{% else %}
		<ul class="list-group {{ category_color }}">
  			<li class="list-group-item">Air Quality: {{ api.0.AQI }}</li>
  			<li class="list-group-item">Area:  {{ api.0.ReportingArea }}</li>
  			<li class="list-group-item">Category: {{ api.0.Category.Name }}</li>			

		<p>{{ category_description }}</p>

	{% endif %}
		</ul>
	<br/><br/>


	
{% endif %}




{% endblock %}



